@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,700i');

body {
	font-family: "Raleway", sans-serif !important;
	font-weight: 300 !important;
}

a, p, label, button, input, select, textarea {
	font-family: "Raleway", sans-serif !important;
	font-weight: 300 !important;
}

h1, h2, h3, h4 {
	font-family: "Raleway", sans-serif !important;
	font-weight: 300 !important;
}

