
h2 {
	padding-top: 1%;
}

.centrar {
	padding-top: 5%;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #555 !important;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}