// .bxslider-inner {
//    vertical-align: middle;
//     display: inline-block;
//     // float: none !important;
//     width: 300px !important;
// }

// .tamano-clientes {
// 	width: 70%;
// 	height: auto;
// }

// .bx-wrapper img {
//     margin: 0 auto;
// }

// .tamano-clientes
// {
//     width: 100%;
//     height: auto;
// }
// .bx-wrapper .bx-viewport
// {
//     -moz-box-shadow: none;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }
// .bx-viewport {
//     position: static!important; center to page correctly
//     border: 0!important; /* border */
//     -webkit-box-shadow: none!important; /* these two shadows */
//     box-shadow: none!important;
//     width: 100% !important;
// }


// .bx-wrapper img {
//     max-width: 100%;
//     display: block;
// }

.bx-wrapper {
    position: relative;
    margin-bottom: -8px !important;
    margin-top: 50px !important; 
    padding: 0px !important;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0px solid #fff ;
    background: #fff;
    margin: 0 auto;
}

.slide {
    margin: 0 auto;
    width: 100%;
}